@model IEnumerable<NoteModel>

@{
    ViewData["Title"] = "My Notes";
}

<div class="index">
    @if (Model.Any())
    {
        <div class="card card-default index__header">
            <h3 class="card-body">
                Your Notes
            </h3>

        </div>
        @foreach (NoteModel note in Model.Reverse())
        {
            <div class="card card-default">
                <a asp-action="NoteDetail" asp-route-id="@note.NoteId" class="index__list-item-link">
                    <div class="card-body">
                        @note.Subject
                    </div>
                </a>
            </div>
        }
        <div class="index__new-note-button-wrapper">
            <a asp-action="NoteEditor" class="index__new-note-button">New Note</a>
        </div>
    }
    else
    {
        <div class="card card-default index__empty-list">
            <h3 class="card-body">
                You don't have any notes.Click on the button below to create one note.
            </h3>
        </div>
        <div class="index__new-note-button-wrapper">
            <a asp-action="NoteEditor" class="index__new-note-button">New Note</a>
        </div>
    }
</div>